* {
    margin: 0;
    padding: 0;
}
.drag-container {
    color: white;
    height: 5rem;
    background-color: blueviolet
}

.drop-container {
    color: white;
    margin-top: 200px;
    height: 5rem;
    background-color: brown;
}